.AddEditContact {
  padding: 0 20px;
  margin-bottom: 50px;
}

.AddEditContactTitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #ccc;
  margin: 0 0 15px;
}

.FormRow {
  position: relative;
}

.FormLabel,
.PhotoPreviewLabel {
  position: absolute;
  top: -9px;
  left: 10px;
  background-color: #fff;
  color: #666;
  padding: 0 10px 0 5px;
  margin: 0;
  font-weight: bold;
}

.FormInput {
  height: 50px;
  width: 70%;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.ImageBox {
  height: 250px;
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.PhotoPreview {
  border-radius: 5px;
  height: 100%;
  width: auto;
  overflow: hidden;
}

.SaveContactButton,
.HomepageReturnButton {
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 30px;
}

.SaveContactButton {
  background-color: darkgreen;
  margin-right: 20px;
}

.HomepageReturnButton {
  background-color: darkgrey;
}