.Modal {
  min-width: 30%;
  min-height: 150px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.ModalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 22px;
  background-color: dimgrey;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
}

.ContactCard {
  display: flex;
  column-gap: 20px;
  margin-bottom: 40px;
}

.ContactPhoto {
  border-radius: 5px;
}

.NoImagePlugMed {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  text-align: center;
  line-height: 250px;
  font-size: 24px;
  background-color: #444;
  color: #eee;
}

.ContactInfo {
  margin-top: 40px;
}

.ContactName {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
}

.ContactPhone {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.ContactEmail {
  margin: 0;
  font-size: 18px;
}

.ContactControlBlock {
  display: flex;
  column-gap: 10px;
}

.ContactEditButton,
.ContactDeleteButton {
  flex: 1;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
}

.ContactEditButton {
  text-decoration: none;
  background-color: darkgrey;
  text-align: center;
}

.ContactDeleteButton {
  border: none;
  background-color: darkred;
}