.Contact {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  width: 70%;
  cursor: pointer;
  margin-bottom: 20px;
}

.Contact:hover {
  background-color: #f4f4f4;
  border: 1px solid #b8b8b8;
  transform: scale(1.02);
  transition: transform 500ms, border 500ms, background-color 500ms;
}

.Contact img {
  border-radius: 5px;
}

.NoImagePlug {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  background-color: #444;
  color: #eee;
}

.Contact p {
  font-size: 20px;
  font-weight: bold;
}