.Header {
  background-color: steelblue;
  color: #fff;
  margin-bottom: 20px;
}

.HeaderInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.HeaderTitle {
  margin: 0;
}

.AddContactButton {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}